<section>
  <div class="logo">
    <a routerLink="home" alt="home"><img src="../../assets/logo.png"></a>
  </div>
  <div class="search">
    <app-search-box></app-search-box>
  </div>

  <div class="auth" *ngIf="!isAuthenticated">
    <div class="login">
      <a routerLink="/login">{{ "Log in" }}</a>
    </div>
    <div class="signup">
      <a routerLink="/signup">{{ "Sign up" }}</a>
    </div>
  </div>

  <div class="manage" *ngIf="isAuthenticated">
    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
      <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
        Manage collection
      </button>
      <div id="menu" ngbDropdownMenu="Manage collection of art">
        <button ngbDropdownItem><a routerLink="/new">{{ "Add artwork" }}</a></button>
        <button ngbDropdownItem> <a routerLink="/collection">{{ "My collection" }}</a></button>
        <button ngbDropdownItem> <a routerLink="/favourite">{{ "My favourite" }}</a></button>
      </div>
    </div>
  </div>

  <div class="logout" *ngIf="isAuthenticated">
    <a routerLink="/auth" (click)="onLogout()">{{ "Logout" }} </a>
  </div>
</section>
